Reference to section that does not exist

> Servers must not locate the actual change password page at the [change password url](https://w3c.github.io/webappsec-change-password-url/#change-password-url), per [RFC8615 §1.1 Appropriate Use of Well-Known URIs](https://tools.ietf.org/html/rfc8615#section-1.1). Clients must handle [ok status](https://fetch.spec.whatwg.org/#ok-status) responses when requesting a [change password url](https://w3c.github.io/webappsec-change-password-url/#change-password-url).


Problem: RFC 8615 does not have a section 1.1 and the term "appropriate use" does not appear anywhere.

it is only in the RFC 5785, which granted has been obsoleted by 8615 https://datatracker.ietf.org/doc/html/rfc5785#section-1.1